body {
  margin: 0;
  background-color: #010100;
  text-align: center;
  margin: auto;
  height: 100vh;
}

#helloWorld span{
  background: -webkit-linear-gradient(#55E5E0, #67E579);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#helloWorld{
  color: white;
  font-size: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

